

<footer>
    <div class="container2">
        <div class="footer-block">
            <h3>CONTACT ME</h3>
            <a href="../contact">Contact Form</a>
        </div>
        <div class="footer-block">
            <h3>LINKS</h3>
            <a href="../">Home</a>
            <a href="../about">About</a>
            <a href="../admin">Admin</a>
            <a href="../login">Login</a>
            <!-- <a href="../portfolio">Portfolio</a>
            <a href="../puppies">puppies!</a> -->
        </div>
        <div class="footer-block">
            <h3>FOLLLOW US</h3>
            <div class="icons">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
            </div>
        </div>
</footer>

</body>
</html>
