</body>

<footer>
    <div class="container2">
        <div class="footer-block">
            <h3>CONTACT ME</h3>
            <a href="contact.html">Contact Form</a>
        </div>
        <div class="footer-block">
            <h3>LINKS</h3>
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="portfolio.html">Portfolio</a>
            <a href="puppies.html">puppies!</a>
        </div>
        <div class="footer-block">
            <h3>FOLLLOW US</h3>
            <div class="icons">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
            </div>
        </div>
</footer>

</html>
