</body>

<footer>
    <div class="container2">
        <div class="footer-block">
            <h3>CONTACT ME</h3>
            <a href="../pages/contact.ejs">Contact Form</a>
        </div>
        <div class="footer-block">
            <h3>LINKS</h3>
            <a href="../pages/index.ejs">Home</a>
            <a href="../pages/about.ejs">About</a>
            <a href="../pages/portfolio.ejs">Portfolio</a>
            <a href="../pages/puppies.ejs">puppies!</a>
        </div>
        <div class="footer-block">
            <h3>FOLLLOW US</h3>
            <div class="icons">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
            </div>
        </div>
</footer>

</html>
