<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Personal Project</title>
	<link rel="stylesheet" type="text/css" href="styles/style.css">
    <script src="script.js" defer></script>
    <!-- awesome font -->
    <script src="https://kit.fontawesome.com/f2df0e5efa.js" crossorigin="anonymous"></script>
    <!-- load google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>