<header>
    <nav class="navbar">
        <ul class="navigation">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="../about">About</a>
            </li>
            <li>
                <a href="../login">Login</a>
            </li>
            <li>
                <a href="../admin">Admin</a>
            </li>
            <li>
                <a href="../contact">Contact</a>
            </li>
        </ul>

        <h1>Hello, it's me Hannah!</h1>
        I am a programmer in Boston. Please feel free to explore my website for different features and functions.
        <br><br><br>

        <!-- weather -->
        <a class="weatherwidget-io" href="https://forecast7.com/en/42d36n71d06/boston/" data-label_1="BOSTON" data-label_2="WEATHER" >BOSTON WEATHER</a>
        <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
        </script>
    </nav>

<!-- hamburger menu for mobile -->
<a href="javascript:void(0);" class="menu-icon">
    <i class="fas fa-bars"></i>
</a>
</header>