<!-- insert head.ejs -->
<%- include('../partials/head') %>

<!-- insert nav.ejs -->
<%- include('../partials/nav') %>

<div><h1>About Me <i class="fa fa-female" aria-hidden="true"></i></h1>

<div class="section">
    <div class="intro">
        Hello, thank you for visiting my website! My name is Hannah Lin. I am currently taking courses with CodeSquad learning coding. It has been a very fun and intersting journey for me and I am really enjoying it. I have put a lot efforts in building this website and I like its design and think it looks good and fun. Hope you are feeling the same! Take some time to explore other features and functions of this website. Also please feel free to contact me and I apprecaite any advice and suggestions in making this website better. 
    </div>
    <div class="introimage">
    <img src="https://www.kidscodecs.com/wp-content/uploads/2020/02/History_TS_ProgrammingMemes_image4.png" alt=""></div>

</body>

<!-- insert footer.ejs -->
<%- include('../partials/footer') %>