<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact</title>
	<link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js" defer></script>
    <!-- awesome font -->
    <script src="https://kit.fontawesome.com/f2df0e5efa.js" crossorigin="anonymous"></script>
    <!-- load google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar">
            <ul class="navigation">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="portfolio.html">Portfolio</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>

            <div>
                <h1>Contact Me <i class="fa fa-female" aria-hidden="true"></i></h1>
            </div>

        </nav>
            
            <!-- hamburger menu for mobile -->
        <a href="javascript:void(0);" class="menu-icon">
            <i class="fas fa-bars"></i>
        </a>
    </header>

    <div class="contact">
        <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d188820.8050329451!2d-71.11036833173115!3d42.314264701709575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3652d0d3d311b%3A0x787cbf240162e8a0!2sBoston%2C%20MA!5e0!3m2!1sen!2sus!4v1678320819383!5m2!1sen!2sus" width="600" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>

        <div class="contactright">
            <form id="contact-form">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
        
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
        
                <label for="message">What do you like about my website?</label>
                <textarea id="message" name="message" required></textarea>

                <label for="message">What improvements you suggest about my website?</label>
                <textarea id="message" name="message" required></textarea>

                <label for="message">Other Comments</label>
                <textarea id="message" name="message" required></textarea>
        
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>  

</body>

<footer>
    <div class="container2">
        <div class="footer-block">
            <h3>CONTACT ME</h3>
            <a href="contact.html">Contact Form</a>
        </div>
        <div class="footer-block">
            <h3>LINKS</h3>
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="portfolio.html">Portfolio</a>
            <a href="puppies.html">puppies!</a>
        </div>
        <div class="footer-block">
            <h3>FOLLLOW US</h3>
            <div class="icons">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
            </div>
        </div>
</footer>

</html>
