<!-- insert head.ejs -->
<%- include('../partials/head') %>

<!-- insert nav.ejs -->
<%- include('../partials/nav') %>

<div class="login-form">
    <div class="content">
      <h1> <span><i class="far fa-smile"></i> Welcome Back! LOGIN</span> </h1>
      <form action="/login" method="POST">
        <div>
            <label for="username">Username </label>
            <input type="text" name="username" id="username" required />
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" required />
        </div><br>
        <div>
            <input type="submit" value="Submit"/>
        </div><br>
        
        <button>
        <a href="/auth/google" class="btn">Login with Google</a></button>
        
        <p>Don't Have An Account? <a href="/register">Create one here.</a></p>
      </form>
      </div>
  </div>


  <!-- insert footer.ejs -->
<%- include('../partials/footer') %>