<!-- insert head.ejs -->
<%- include('../partials/head') %>

<!-- insert nav.ejs -->
<%- include('../partials/nav') %>

<div><h1>Portfolio <i class="fa fa-female" aria-hidden="true"></i></h1>
</div>

    <!-- services section-->
    <section id="services">

        <div class="cards">
            <div class="card servicesText">
                <div class="card-body">
                    <i class="fas servicesIcon fa-clock"></i>
                    <h4 class="card-title mt-3">Website Development</h4>
                    <p class="card-text mt-3">This is my website showing the features and functions I am able to build. I am always open to learn more and adding more in!
                    </p>
                </div>
            </div>
        </div>  

        <div class="cards">
            <div class="card servicesText">
                <div class="card-body">
                    <i class='fas servicesIcon fa-layer-group'></i>
                    <h4 class="card-title">Website Design</h4>
                    <p class="card-text">This is how I design my website in how I would like it to look. I carefully select the colors and try to design it in the most eye appealing way. 
                    </p>
                </div>
            </div>  
        </div>

        <div class="cards">
            <div class="card servicesText">
                <div class="card-body">
                    <i class='far servicesIcon fa-check-circle'></i>
                    <h4 class="card-title">BackEnd Knowledge</h4>
                    <p>JavaScript, to learn backend in the next few weeks. 
                    </p>
                </div>
            </div>  
        </div>

        <div class="cards">
            <div class="card servicesText">
                <div class="card-body">
                    <i class='fas servicesIcon fa-shield-alt'></i>
                    <h4 class="card-title">Other Professional Skills</h4>
                    <p class="card-text">Accounting, Finance, Financial Reporting, Financial Analysis, Data Analysis, Auditing, Financial Modeling. 
                    </p>
                </div>
            </div>  
        </div>
            
    </section>

</body>

<!-- insert footer.ejs -->
<%- include('../partials/footer') %>