<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Puppies</title>
	<link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js" defer></script>
    <!-- awesome font -->
    <script src="https://kit.fontawesome.com/f2df0e5efa.js" crossorigin="anonymous"></script>
    <!-- load google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar">
            <ul class="navigation">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="portfolio.html">Portfolio</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>

            <div>
                <h1>Puppies <i class="fa-solid fa-dog"></i></h1>
            </div> 
        </nav>

        <!-- hamburger menu for mobile -->
        <a href="javascript:void(0);" class="menu-icon">
            <i class="fas fa-bars"></i>
        </a>
    </header>
    
    <div class="slideshow-container">
        <div class="slide">
            <img src="http://cdn.shopify.com/s/files/1/0535/2738/0144/articles/shutterstock_1290320698.jpg?v=1651099282" alt="Picture 1">
        </div>
        <div class="slide">
            <img src="https://cdn.shopify.com/s/files/1/0272/4770/6214/articles/when-do-puppies-start-walking.jpg?v=1593020034" alt="Picture 2">
        </div>
        <div class="slide">
            <img src="https://i.insider.com/6304cadfc9a2da0018092dd4?width=700" alt="Picture 3">
        </div>
        <div class="slide">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWApY7vpCoiyrYKL1FUsfNDwYUSNPTG5TZlQ&usqp=CAU" alt="Picture 3">
        </div>
    </div>

</body>

<footer>
    <div class="container2">
        <div class="footer-block">
            <h3>CONTACT ME</h3>
            <a href="contact.html">Contact Form</a>
        </div>
        <div class="footer-block">
            <h3>LINKS</h3>
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="portfolio.html">Portfolio</a>
            <a href="puppies.html">puppies!</a>
        </div>
        <div class="footer-block">
            <h3>FOLLLOW US</h3>
            <div class="icons">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
            </div>
        </div>
</footer>

</html>
