<!-- insert head.ejs -->
<%- include('../partials/head') %>

<!-- insert nav.ejs -->
<%- include('../partials/nav') %>

<div>
<h1>Puppies <i class="fa-solid fa-dog"></i></h1>
</div> 
    
    <div class="slideshow-container">
        <div class="slide">
            <img src="http://cdn.shopify.com/s/files/1/0535/2738/0144/articles/shutterstock_1290320698.jpg?v=1651099282" alt="Picture 1">
        </div>
        <div class="slide">
            <img src="https://cdn.shopify.com/s/files/1/0272/4770/6214/articles/when-do-puppies-start-walking.jpg?v=1593020034" alt="Picture 2">
        </div>
        <div class="slide">
            <img src="https://i.insider.com/6304cadfc9a2da0018092dd4?width=700" alt="Picture 3">
        </div>
        <div class="slide">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWApY7vpCoiyrYKL1FUsfNDwYUSNPTG5TZlQ&usqp=CAU" alt="Picture 3">
        </div>
    </div>

</body>

<!-- insert footer.ejs -->
<%- include('../partials/footer') %>