:root {
    --pink: #e66465;
    --purple: #9198e5;
    --yellow: #FCCF14;
    --black: #000000;
    --lightgrey: #FFFFFF7F;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 120%;
    margin: 3vw;
    text-align: center;
}

.navigation {
    list-style: none;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    justify-content: space-between;
    padding-right: 6%;
}

.navigation li {
    padding: 2%;
}

body {
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    margin: auto;
    padding: 1%;
    overflow-x: hidden;
    font-size: 1rem;
    background-image: linear-gradient(0.25turn, var(--pink), #ebf8e1, var(--purple));
    box-sizing: border-box;
    /* google font */
    font-family: 'Roboto', sans-serif;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-evenly;
	align-items: center;
	/* margin-left: 2%;
    margin-right: 2%; */
    /* margin-right: 3.5%; */
}

.container1a {
    order:1;
    width: 30%;
}

.container1b {
    order:2;
    width: 60%;
    /* max-height: 100%; */
}

.calendar, .project, .progress, .quote, .prompt {
	/* width: 30vw;
	height: 10vw; */
	padding: 1%;
	margin: 1%;
	background-color: rgba(64, 0, 183, 0.075);
	box-shadow: 0 4% 8% rgba(0,0,0,0.1);
	border-radius: 2%;
	text-align: center;
}

.calendar h2, .project h2, .progress h2, .quote h2, .prompt h2 {
	font-size: 100%;
	/* color: #555; */
}

/*Project styles*/

/*Calendar styles*/
.calendar {
    width: 100%;
    height: 100%;
}

/*Progress styles*/
.progress ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.progress li {
	padding: 5px;
	border-bottom: 1px solid #ddd;
}

/*Quote styles*/
.quote p {
	font-size: 18px;
	color: #777;
	margin: 0;
	padding-top: 20px;
}

/* style hamburger menu for mobile */
a.menu-icon {
	display: block;
	color: white;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0.5rem 1rem;
}

/* style the links */

nav a:link,
nav a:visited,
footer a:link,
footer a:link {
    color: lightslategray;
    text-decoration: none;
}

a:hover {
    /* color: var(blue); */
    font-weight: bold;
    /* background-color: var(--yellow); */
}

a:active {
    /* color: var(blue); */
    font-weight: bold;
    /* background-color: var(--yellow); */
}

/* footer */
.container2 {
    /* background-color: var(--pink); */
    text-decoration: none;
    /* color: var(--white); */
    /* border-top: 5px var(--black) solid; */
    /* padding-left: 1%; */
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    margin-right: 5.5%;
    /* color: rgb(219, 60, 113); */
}

.footer-block {
    display: inline-block;
    /* padding: 1rem; */
}


/* navigation: hamburger menu icon appears at screen sizes less than 768px. */
@media screen and (min-width: 769px) {
	header {
		display: flex;
	}

	a.menu-icon {
		display: none;
	}

	.ul.navbar-list {
		display: flex;
		justify-content: space-around;
		font-size: 1.25rem;
	}
    
    a.navlogo {
        flex:1;
    }

	nav.navbar {
		flex: 2;
	} 
}

/* scroll button */
#scroll {
    /* display: none;  */
    position: fixed;
    bottom: 2%;
    right: 3%;
    z-index: 99;
    font-size: 100%;
    border: none;
    outline: none;
    background-color: #8d8585;
    color: white;
    cursor: pointer;
    padding: 0.8%;
    border-radius: 1%;
  }

/* media query to adjust screen change */
@media screen and (max-width: 768px) {
    nav.navbar {
        display: none;
    }
}

/* footer blocks stack on top of each other in one column at screen size less than 768px */
@media screen and (max-width:768px) {
    .container {
    display: flex;
    flex-direction: column;
    }
}

/* Batman card:  displays content side by side at screen size of at least 1024px.  */
@media screen and (min-width:1024px) {
    .card {
        display:flex;
    }
}

/* Add horizontal scrollbar to `admin.html` table at mobile screen size */
@media screen and (max-width:767px) {
    .admin-table {
        overflow-x: auto;
    }
}

/* page: challanges */
.section {
    margin: auto;
    /* padding-bottom: 3%; */
}

.collectionDisplay {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* .Displays {
    display: inline-block;
    text-align: center;
} */

.Displays {
    flex: 1;
    max-width: 100%;
    margin: 2%;
    text-align: center;
    max-height: 50%;
}

/* .Displays img {
    margin-left: -2%;
    width: 65%;
    padding: 2%;
} */

.Displays img {
    width: 10vw;
    padding: 2%;
}

/* page: intro */
.intro {
    text-align: center;
    padding-bottom: 1%;
    width: 50vw;
    margin: auto;
}

.introimage {
    text-align: center;
    padding-bottom: 1%;
}

/* page: contact */

.contact {
    display: flex;
    justify-content: center;
    /* padding-right: 15%; */
}

#contact-form {
    background-color: var(--lightgrey);
}

.map {
    padding-right: 5%;
}

form {
    max-width: 100%;
    /* margin: -2%; */
    /* background-color: #efe9e9; */
    padding: 3%;
    border-radius: 1%;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
  }

label {
    display: block;
    margin: 3%;
  }
  
input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 1%;
    border-radius: 1%;
    border: none;
    margin-bottom: 3%;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-left: 2%;
    margin-bottom: 0.15%;
  }
  
button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 1% 2%;
    border: none;
    border-radius: 1%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
  
button[type="submit"]:hover {
    background-color: #3e8e41;
}

  /* page: puppies */
.slideshow-container {
  margin: 0 auto;
  max-width: 50%;
  position: relative;
  /* padding: 5%; */
  margin-bottom: 35%;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.slide img {
  width: 100%;
  height: auto;
}

.slideshow-container .slide:first-child {
  display: block;
}

/* services section css */
.cards {
    display: inline-flex;
    justify-content: space-between;
    padding: 3%;
    flex-wrap: wrap;
    width: 40%;
    text-align: center;
}

.servicesText.card {
    /* height: 300; */
    cursor: pointer;
}

.servicesIcon {
    font-size: 150%;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

/* admin page */

.admin-table {
    margin-top: -5%;
    margin-bottom: -3%;
}

.admin {
    margin: 0 auto;
    border-collapse: collapse;
}

/* admin page style */
.admin tr:nth-child(odd) {
    background-color: lightgrey;
}

.admin th,
.admin td {
    padding: 2%;
    border: 0.5px solid var(--black);
    margin:auto;
    width: 12vw; 
    text-align: center;   
}

.admin tbody {
    background-color: var(--lightgrey);
}

.edit {
    background-color: var(--border-blue);
    color: var(--white);
    width: 60px;
}

button[type="submit"] {
    text-align: center;
    font-size: 1.2rem;
    margin: auto;
    margin-top: 2%;
    display: flex;
    margin-bottom: 2%;
}

button[class="delete"] {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

/* log in form */

.login-form {
  /* background: #fff; */
  background-color: var(--lightgrey);
  width: 500px;
  margin: 65px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.login-form h1 {
  padding: 35px 35px 0 35px;
  font-weight: 300;
}
.login-form .content {
  padding: 35px;
  text-align: center;
}
.login-form .input-field {
  padding: 12px 5px;
}
.login-form .input-field input {
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.login-form .input-field input::-webkit-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::-moz-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input:-ms-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::-ms-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::placeholder {
  text-transform: uppercase;
}
.login-form .input-field input:focus {
  border-color: #222;
}
.login-form a.link {
  text-decoration: none;
  color: #747474;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
}
.login-form .action {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.login-form .action button {
  width: 100%;
  border: none;
  padding: 18px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #e8e9ec;
  color: #777;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.login-form .action button:hover {
  background: #d8d8d8;
}
.login-form .action button:nth-child(2) {
  background: #2d3b55;
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}
.login-form .action button:nth-child(2):hover {
  background: #3c4d6d;
}